<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<footer class="footer container-fluid extraSpace">
    <div class="container extraSpace">
        <ul class="centerLinks socialIcons">
           
            <li style="display:inline-block">
                <a href="https://www.instagram.com/eeshita_gupta19/"><img src="/images/icons/instagram.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://github.com/eeshita19"><img src="/images/icons/github.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.linkedin.com/in/eeshita-gupta-6b072a171/"><img src="/images/icons/linkedIn.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="/contact"><img src="/images/icons/email.png"></img></a>
            </li>
        </ul>
        <p class="footerText subP">Email me with any suggestions,
        collaborations, or just to talk!<br>eeshita.gupta1909@gmail.com</p>
    </div>
    <div class="bottomLinksDiv">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                    <a href="/">Home</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md" >
                    <a href="/software">Software</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/electronics">Electronics</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/films" style="text-align: center">Work Experience</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/photography">Publications</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/footerShift.js" type="text/javascript"></script>
