<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
   
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="tileMain">Hey! I am Eeshita </h1>
            <br>
            <h3>a glimse of my journey 🤗 </h3>
        </div>
        <a href="#">
        <div class="homeSouth">
            <h4  class="stealthLink subPmin padX0" >Read More</h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
      </a>
    </div>

    <div class="container-fluid aboutMe" >
      <div class="container aboutMe">
          <div class="row rowPad" >
              <div class="col-md-4">
                  <img src="/images/Eeshita.jpeg" class="circleImg"></img>
              </div>
              <div class="col-md-8">
                <h2 class="tileMain"> &nbsp; About Me </h2>
                  <p class="pad20">Welcome to my website. I am a penultimate year IT student at Bharati 
                      Vidyapeeth's College of Engineering. In the
                      past few years I have worked on many independent
                      projects alongside my formal education. My goal is to develop
                      innovative solutions in the artifical intelligence and data sceinece through my gained experience.
                      I have advanced knowledge in Python and C++, experience in NLP, Timeseries, Data Analysis and Visualisation,Computer Vision,
                      as well as building websites. . I try to work with flexibility and
                      modern methods to complete every project. I like to illuminate the room with my
                      people management and soft skills.
                      I created this site to share my interests, as they evolve,
                      and connect with like minded individuals.</p>
              </div>
          </div>
      </div>
  </div>

    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
